#signup-container {
    border: 1px solid black;
    text-align: center;
}
#signin-container {
    border: 1px solid black;
    text-align: center;
}
#bookmarks-container {
    border: 1px solid black;
    text-align: center;
}